


<style type="text/css">
    .giohang {
        color: red;
        font-size: large
    }
</style>

<a href="@Url.Action("Cart","Cart")" class="giohang">
    Giỏ hàng<i class="fa fa-shopping-cart">
    </i> (@ViewBag.CountCart)
</a>

